.profileDiv{
    display: flex;
    justify-content: center;
}

.profile-pic{
    height: 8rem;
    border-radius: 10rem;
    background-image: linear-gradient(#ee6f71, #be3960);
    box-shadow: 0 0 5px #00000040;
}
h1, p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
}