.tree {
    height: 40vh;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

.treeinput {
    border: none;
    outline: none;
    cursor: pointer;
    /* color: #00000095; */
    background-color: #fff;
}


.create-link-comp {
    height: 2rem;
    width: 12rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}