* {
  margin: 0;
  padding: 0;
  /* color: #d90d32; */

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background-image: linear-gradient(#be3960); */
  background-color: #FBFAF5;
  /* background-image: url('/public/theme1.jpg'); */
  /* background-image: linear-gradient(60deg, #c55e3a, #ee6487); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* background-position: unset; */
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}