.linkDiv {
    margin-top: 4rem;
}

.linkDiv p {
    font-weight: bold;
    margin-bottom: 20px;
}

.link {
    display: flex;
    justify-content: center;
    width: 50vw;
    margin: 0 auto;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5rem;
    margin-bottom: 1.2rem;
    transition: 0.3s;
}

a {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    background-color: #fff;
    color: #c55e3a;
}

.linkName {
    font-weight: 500;
    font-size: 1rem;
    line-height: 3;
    width: 100%;
    text-align: center;
    /* color: #fff; */
}

@media only screen and (max-width: 600px){
    .link{
        width: 80%;
    }
}